<div class="siwtch-button-wrapper">
  <div>
    <label for="user">Select user</label> <br>
    <select name="name" id="" (change)="selectUser($event)">
      <option value="user10">Williams</option>
      <option value="user7">Jose Perez</option>
      <option value="user6">Pedro Lopez</option>
    </select>
  </div>

</div>
<div class="chat-wrapper">
  <div class="conversations-wrapper">
    <div *ngFor="let conversation of (conversations$ | async)"
         [class.selected]="selectedConversation && selectedConversation.withID == conversation.withID"
         class="conversation-item" (click)="getConversation(conversation)">
      <img [src]="conversation.profilePic" alt="">
      <div>
        <b style="font-size: 14px">{{conversation.name}}</b> <br>
        <i style="font-size: 11px">{{conversation.lastMessage}}</i>
      </div>
    </div>
  </div>
  <div class="messages-wrapper">
    <div class="message-list-wrapper" #messageListWrapper>
      <div *ngFor="let messageData of (messages$ | async)" [class.from-message]="messageData.fromID === this.activeUserID"
           class="message-item"
           (click)="toggleMessageOptions(messageData)"
      >

        <input *ngIf="enableEditMessage === messageData.messageID"
               [(ngModel)]="editMessageValue" [value]="messageData.message"
               (click)="$event.stopPropagation()"
               type="text">
        <b *ngIf="enableEditMessage !== messageData.messageID">{{ messageData.message }}</b>

        <div class="message-opts" *ngIf="enableMessageOptions === messageData.messageID">
          <i *ngIf="!enableEditMessage" class="bi bi-pencil" (click)="toggleEditMessage($event, messageData)"></i>
          <i *ngIf="enableEditMessage" class="bi bi-check-lg" (click)="editMessage($event, messageData)"></i>
          <i class="bi bi-x-lg" (click)="deleteMessage($event, messageData)" ></i>
        </div>
      </div>
    </div>

    <form [formGroup]="form" class="send-message-wrapper" *ngIf="selectedConversation">
      <input type="text" formControlName="message"/> <br> <br>
      <button (click)="sendMessage()">SEND</button>
    </form>
  </div>
</div>


